   </main>
	<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
    <script type="text/javascript" src="./scripts/player.js"></script>
    <script type="text/javascript" src="./scripts/client.js"></script>
  </body>
</html>
