<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mood Setter Music App</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/playlists">Mood Setter Music App</a>
        </div>

        <!-- toggling for forms and login/logout-->
        <div class="collapse navbar-collapse" id="user-menu">
          <ul class="nav navbar-nav">
            <% if (currentUser) {%>
            <li><a href="/logout">Logout <%= currentUser.local.email %></a></li>
            <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li> 
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">

<!-- form for adding playlists -->
    <form>
  <!-- grouping related fields of a form -->
    <fieldset>
    <!-- defining the captioin for the form -->
      <legend>Add New Playlist</legend>
        <!-- text input for playlist name -->
        <div class="form-group">
          <label>Playlist Name</label>
          <input id="name" type="text" name="name" placeholder="" required="">
        </div>
        <div class="form-group">
          <label>Mood</label>
          <input id="mood" type="text" name="mood" placeholder="" required="">
        </div>
        <!-- submit button to find and add -->
        <div class="form-group">
          <button id="submit" name="submit" class="btn btn-primary">Add Playlist</button>
        </div>
    </fieldset>
  </form>


    <!-- modal for editing playlists -->
   <div class="modal fade" tabindex="-1" role="dialog" id="playlistModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Update Playlist</h4>
          </div>
          <div class="modal-body">
            <fieldset class='form-horizontal'>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="playlistName">Playlist Name</label>
              <div class="col-md-4">
              <input id="playlistName" name="playlistName" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input, stretch goal-->
           <!--  <div class="form-group">
              <label class="col-md-4 control-label" for="trackNumber">Mood</label>
              <div class="col-md-4">
              <input id="trackNumber" name="trackNumber" type="text" placeholder="" class="form-control input-md">

              </div>
            </div> -->

            </fieldset>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="save">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->