<% include ./partials/header.ejs %>
<button id="find">Find Playlists</button>

<section>
	<div class="playlist add-playlist">
		<div class="add"></div>
		<!-- <a href="#" title="play playlist" class="play"></a> -->
	</div>
	<!-- playlist section -->
	<div id="playlists" class="playlist group" attr="playlist._id">

	</div>
</section>
<!-- for use in playlist popup -->
<!-- <li>
	<span class="playlist-tracks"></span>
</li> -->
<% include ./partials/footer.ejs %>