<% include ./partials/header.ejs %>
<button class="find">Find Playlists</button>

<div class="playlist add-playlist">
	<div class="add"></div>
</div>
<div class="playlist">
	
</div>
<% include ./partials/footer.ejs %>