<% include ./partials/header.ejs %>

<section>
	<div class="add-playlist">
		<div class="add"></div>
		<!-- <a href="#" title="play playlist" class="play"></a> -->
	</div>
	<!-- playlist section -->
	<div id="playlists" class="row playlist" attr="playlist._id">
	</div>
</section>
<!-- for use in playlist popup -->
<!-- <li>
	<span class="playlist-tracks"></span>
</li> -->
<% include ./partials/footer.ejs %>