<!-- use header -->
<% include ./partials/header.ejs %>
<% if (message.length > 0) {%>
  <div class="alert alert-danger"><%= message%></div>
<% } %>

<!-- login form -->
<h2>Login</h2>

<!-- email label and textfield -->
<form method="post" action="/login">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email">
  </div>

<!-- password label and textfield -->
  <div class="form-group">
    <label for="email">Password</label>
    <input class="form-control" type="password" name="password" id="password">
  </div>

  <input class="btn btn-default" type="submit">
</form>

<!-- use footer -->
<% include ./partials/footer.ejs %>