.bubble {
	height: 200px;
	width: 200px;
	border-radius: 50%;
  border: 5px solid rgba(96,163,153,.7);
	background-color: rgba(96,163,153,.7);
	margin: 20px;
	padding-top: 50px;
}
/*ifram sizing*/
iframe{
  height: 300px;
}
/*playlist holder div*/
#playlists {
width: 100%;
height: 425px;

}
/*plus symbol to add*/
/*.add{
	background: white;
	height: 100px;
	position: relative;
	width: 20px;
	margin: 0 auto;
}

.add:after {
	background: white;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;
	margin: 0 auto;
}*/

h4 {
	text-align: center;
	width: 40px;
	margin-left: 60px;
  color: white;
}

/*play button for each bubble*/
/*.play {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 25px solid #BD2803;
  margin: 20px auto;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 10px;
}
.play:before {
  content: '';
  position: absolute;
  top: -40px;
  left: -80px;
  bottom: -40px;
  right: -5px;
  border-radius: 50%;
  border: 5px solid #BD2803;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.play:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.play:hover:before, .play:focus:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.play.active {
  border-color: transparent;
}
.play.active:after {
  content: '';
  opacity: 1;
  width: 20px;
  height: 30px;
  background: #2c3e50;
  position: absolute;
  right: 5px;
  top: -40px;
  border-left: 20px solid #2c3e50;
  box-shadow: inset 30px 0 0 0 #f9f9f9;
}

