/*background image*/
html{
	/*background-image: url('./images/abstract-color-clouds.jpg');*/
}

/*each playlist bubble*/
.bubble {
	display: inline-block;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 5px solid rgba(96,163,153,.4);
	background-color: rgba(96,163,153,.7);
	margin: 20px;
	padding-top: 50px;
	position: relative;
	text-align: center;
}

.bubble h4{
	
}

.bubble .btn{
	background-color: rgba(165,40,3,.2);
	border-radius: 50%;
	margin: 0 0 0 90px;
	height: 40px;
	width: 40px;
}

/*widget location*/
aside{
	clear: both;
	float: right;
}

/*playlist holder div*/
#playlists {
	float: left;
	width: 100%;
	height: 425px;
}

h4 {
	text-align: center;
	width: 40px;
	margin-left: 60px;
	color: white;
}

/*form*/
form {
	padding: 10px;
	float: right;
	width: 300px;
	height: 200px;
	border: 3px solid #6C4C8D;
}

.btn {
	margin-left: 90px;
}
